.appWrapper {
   
    width: 100vw;
    max-width: 100%;
    border: 2px dashed red;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.task-container {
    border: 1px solid rebeccapurple;
}

.result-container {
    border: 1px dotted yellowgreen;
}